<div id="play-window">
  <div id="play-screen">
  </div>
</div>
<p><%= current_user.play_data %></p>
<p><%= current_room.play_data %></p>
<a href="javascript:void(0)" onclick="App.room.write({class: 'end'})">GameEnd</a>