<h1>Rooms#create</h1>
<p>Find me in app/views/rooms/create.html.erb</p>
<div class="container">
  You entered <string><%= Room.find(session[:room]).name %></string> as <string><%= User.find(session[:user]).name %></string>.</p>
</div>