<h1>Rooms#view</h1>
<p>Find me in app/views/rooms/view.html.erb</p>
<p>Room: <%= current_room.name %></p>
<p>User: <%= current_user.name %></p>
<%= render 'shared/flash_message' %>
<%= link_to "Log out", logout_path, method: :delete %>