// Place all the styles related to the plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#play-window{
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  #play-screen{
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    height: 42.55vw;
    background-color: #474747;
    overflow: hidden;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    /* ソシャゲ風強調文字 */
    .head-text {
      position: absolute;
      text-shadow: 0px -1px #ffffff, -1px 0px #ffffff, 0px 1px #ffffff, 1px 0px #ffffff, 0px 2px #000000, 0px 3px #000000, 0px 4px 0.2em #000000;
      color: transparent;

      &:after {
        position: absolute;
        top: 0px;
        left: 0px;
        text-shadow: none;
        content: attr(title);
        background: -webkit-linear-gradient(top, #f3c5bd 0%,
                #e86c57 50%,
                #ea2803 51%,
                #ff6600 90%,
                #c72200 100%);
        /*background: -webkit-linear-gradient(top, #dceded 0%,
                #c0e0e0 50%,
                #84c1c1 51%,
                #c0e0e0 90%,
                #dceded 100%);*/
        color: transparent;
        -webkit-background-clip: text;
      }
    }
  }
}