// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body{
  height: 100%;
}
#login{
  height: 100%;
  margin: 0;
  .window-left{
    margin: 0;
    float: left;
    height: 100%;
    width: 50%;
    background: linear-gradient(135deg, #FCF1EC, #FDF7EE, #FFFEF5, #FFFEF5, #F2F5FA, #F2F0F6, #F7F2F8);
    .window-left-content{
      height: 100%;
      letter-spacing: 0.5em;
      align-items: center;
      img{
        display: flex;
      }
    }
  }
  .window-right{
    float: left;
    align-content:center;
    letter-spacing: 0.125em;
    height: 100%;
    color: #666666;
    form{

      .field{
        text-align: right;
      }
    }
  }
}
