@media screen and (orientation: landscape){
  .body{
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    overflow:hidden;
    .title-outer{
      position: absolute;
      top: 0%;
      left: 0%;
      width: 50%;
      height: 100%;
      background: linear-gradient(135deg, #FCF1EC, #FDF7EE, #FFFEF5, #FFFEF5, #F2F5FA, #F2F0F6, #F7F2F8);
      display: table-cell;
      .title-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40vw;
        font-size: 2.5vw;
        opacity: 1;
        text-align: center;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
      }
      .copyright{
        position: absolute;
        top: 90%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
      }
    }
    .body-outer{
      position: absolute;
      top: 0%;
      left: 50%;
      display: table-cell;
      opacity: 1;
      width: 50%;
      height: 100%;
      overflow-y: auto;
      .body-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        font-size: 2.5vw;
        text-align: center;
        padding: 1em 0em;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
      }
    }
  }
}
@media screen and (orientation: portrait){
  .login{
    background: #eeeeee;
    .title-outer{
      background: #ffdddd;
    }
    .body-outer{
      background: #ddddff;
    }
  }
}